= admins_only do
  = link_to 'New Post', new_post_path

- @posts.group_by{|p| p.month_year}.each do |monthyear, posts|
  %ul
    %li=monthyear
      =posts.each do |post|
        %ul
          %li= link_to post.title, post
            %p= post.short_abstract
